<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean name ="rect" class="com.tcs.geometry.Rectangle" primary="true">
        <constructor-arg value="32.57"></constructor-arg>
        <constructor-arg value="32.57"></constructor-arg>
    </bean>

    <bean name="circle" class="com.tcs.geometry.Circle">
        <property name="radius" value="23.57"></property><!-- whenever we use Property(setter injection for particular class then we have to include default constructor for that class -->
    </bean>

    <bean name="util" class="com.tcs.geometry.Mesuration" autowire="byType">
       <!-- <constructor-arg ref="rect"></constructor-arg>-->
    </bean>
</beans>